body {
  background-color: #007f82;
  padding: 0;
  margin: 0;
}

.rows {
  display: flex;

  .file-text {
    margin: 20px;
    max-width: 100px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .icon {
      width: 40px;
    }
    p {
      color: #cbf4fa;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  border: 1px solid red;
  background-color: #c0c0c0;
}
